* {
  box-sizing: border-box;
}

rsh1 {
  position: relative;
  display: inline-block;
  color: red;
  padding: 15px;
  background-color: white;
  box-shadow:inset 0px 0px 0px 10px red;
}

rsh1:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./5O74VI6.jpg");
  mix-blend-mode: lighten;
}

.UN-AUDITED {
  box-shadow: 0 0 0 3px blue, 0 0 0 2px blue inset;  
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 2px;
  line-height: 22px;
  color: blue;
  font-size: 24px;
  font-family: 'Black Ops One', cursive;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.4;
  width: 185px;
  transform: rotate(-5deg);
}

.PROVISIONAL {
  box-shadow: 0 0 0 3px green, 0 0 0 2px green inset;  
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 2px;
  line-height: 22px;
  color: green;
  font-size: 24px;
  font-family: 'Black Ops One', cursive;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.4;
  width: 185px;
  transform: rotate(-5deg);
}

.FINAL {
  box-shadow: 0 0 0 3px red, 0 0 0 2px red inset;  
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 2px;
  line-height: 22px;
  color: red;
  font-size: 24px;
  font-family: 'Black Ops One', cursive;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.4;
  width: 155px;
  transform: rotate(-5deg);
}

.UNOFFICIAL {
  box-shadow: 0 0 0 3px black, 0 0 0 2px black inset;  
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 2px;
  line-height: 22px;
  color: black;
  font-size: 24px;
  font-family: 'Black Ops One', cursive;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.4;
  width: 185px;
  transform: rotate(-5deg);
}

.w3-pronto-light-gray
{color:#000000;background-color:#d2d4d8}

.w3-pronto-lighter-gray
{color:#000000;background-color:#eaecef}

.w3-pronto-color-left
{color:#000000;background-color:#d2d4d8}

.w3-pronto-color-right
{color:#000000;background-color:#eaecef}

.mesw3div {
  width:90%;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  align: center;
  valign: center;
}
.mesHeader {
  width:90%;
  align: center;
  padding: 10px;
  margin:0 px;
  border: 0px;
}  

.ProntoLightGray {
  background-color:#ECECEC;
}
